.complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #fff;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.complete__img {
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(58%) sepia(44%) saturate(1676%) hue-rotate(47deg) brightness(90%) contrast(101%);
    margin-bottom: 25px;
}

.complete__heading {
    margin-bottom: 20px;
    font-weight: 500;
}

.complete__desc {
    margin-bottom: 10px;
    line-height: 1.5;
}

.complete__btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px 25px;
    font-weight: 600;
    font-style: 16px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, #da8cff, #9a55ff);
    text-decoration: none;
}

.complete__btn--error {
    background: red;
}

.complete__desc--error {
    font-size: 16px;
    font-weight: 600;
}